---
layout: page
# The Archives of posts.
---

<style>
  #archives a strong {
    font-weight: normal; /* Adjust the font weight */
  }
</style>

<div id="archives" class="pl-xl-3">

  <time class="year lead d-block">2025</time>
  <ul class="list-unstyled">
    <li>
      <span class="date day">00</span>
      <span class="date month small text-muted ms-1"> Aug</span>
      <a href="/files/papers/seasonal/seasonal.pdf" target="_blank">
        <strong>Seasonal social dilemmas</strong>
      </a>
    </li>
  </ul>

  <time class="year lead d-block">2024</time>
  <ul class="list-unstyled">
    <li>
      <span class="date day">07</span>
      <span class="date month small text-muted ms-1"> Aug</span>
      <a href="/files/papers/commitment/commitment.pdf" target="_blank">
        <strong>Evolution of commitment in the spatial Public Goods Game through institutional incentives</strong>
      </a>
    </li>
  </ul>

  <time class="year lead d-block">2023</time>
  <ul class="list-unstyled">
    <li>
      <span class="date day">07</span>
      <span class="date month small text-muted ms-1"> Aug</span>
      <a href="/files/papers/heterogeneous/PhysRevE.108.024111.pdf" target="_blank">
        <strong>Heterogeneous contributions can jeopardize cooperation in the Public Goods Game</strong>
      </a>
    </li>
  </ul>

  <time class="year lead d-block">2022</time>
  <ul class="list-unstyled">
    <li>
      <span class="date day">01</span>
      <span class="date month small text-muted ms-1"> Nov</span>
      <a href="/files/papers//lattices/1-s2.0-S0960077922009237-main.pdf" target="_blank">
        <strong>Cooperation in regular lattices</strong>
      </a>
    </li>
  </ul>

  <time class="year lead d-block">2021</time>
  <ul class="list-unstyled">
    <li>
      <span class="date day">07</span>
      <span class="date month small text-muted ms-1"> Sep</span>
      <a href="/files/papers/symbiotic/1-s2.0-S0022519321001594-main.pdf" target="_blank">
        <strong>Symbiotic behaviour in the public goods game with altruistic punishment</strong>
      </a>
    </li>
  </ul>



</div>
